.header {
    padding: 20px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 20px;
  }

  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }